.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.nav-wrapper {
  background-color: #0A2;
  padding: 0 20px;
}

.parallax-container {
  align-items: center;
  height: 50vh;
}

.ovis-logo {
  height:10vh;
}

.back-green {
  background-color: #0A2;
}

.blue-logo {
  color:#fff;
}
/* @media screen and (max-width: 800px) {
  .parallax-text {
    padding:5px 15px;
    background-color: rgba(0,50,100,0.7);
    border-radius: 40px;
    /* width:100%; * */
  }
}
 .parallax-text {
  padding:5px 15px;
  background-color: rgba(0,50,100,0.7);
  border-radius: 40px;
  width:60%;
}


.caption-img {
  max-height:100%;
  max-width:100%;
}

.small-caps {
  font-variant: small-caps;
}

#treatment-regime {
  width:100%;
}
.round-border {
  border-radius: 20px;
}
